body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-position: top center;
	background-color: #E7F7F7;
}
.portalbody-on { margin-top: 50px; }
.portalbody-off { margin-top: 0px; }

* html img.ui-combobox-arrow {
	top: -3px;
}

.ui-combobox-list {
	border: 1px solid black;
}

.ui-combobox-list, .ui-combobox-item {
	display: block;
	font-family: sans-serif;
	font-size:  12px;
	background-color: white; 
	text-align: left;
}

.ui-combobox-list .selected {
	background-color: #eeeeff;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	cursor: pointer;
}
.status { margin-top: 0px; }
#statuslayer { text-align: center; margin-top: 5px; margin-bottom: 5px; /*height: 50px;*/ }

input:focus,
textarea:focus,
select:focus,
label:active + input,
label:active + textarea {
	outline: none;
	border: 2px solid #31bc86;
}

.font-bold { font-weight: bold; }

.portal-pager-light {
	background-color: #FEDC67;
	background-image: -webkit-linear-gradient(white, #E8C756);
	background-image: -moz-linear-gradient(white, #E8C756);
	background-image: -o-linear-gradient(white, #E8C756);
	background-image: linear-gradient(white, #E8C756);
}
.portal-pager-dark {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FEDC67), to(#5B460F));
	background: -webkit-radial-gradient(circle, #FEDC67, #5B460F );
	background: -moz-radial-gradient(circle, #FEDC67, #5B460F);
	background: -ms-radial-gradient(circle, #FEDC67, #5B460F);	
}
.portal-pager {
	margin-left: 3px;
	margin-right: 5px;
	padding-top: 3px;
	background-color: ghostwhite;
	border-color: 2px solid darkgray;
}
.portal-pager-sub {
	background-color: lightgray;
}
.portal-area {
	background-color: ghostwhite;
	border-color: 2px solid darkgray;
}
.portal-area-sub {
	background-color: lightgray;
}

.btn-normal { min-width: 100px; }
.btn-base {
	color: #555555;
	border: 1px solid #767575;
	background: #e6e6e6 url(jquery/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	min-width: 90px;
}
.btn-base:hover,
.btn-base:focus,
.btn-base:active,
.btn-base.active,
.open > .dropdown-toggle.btn-base {
 color: #212121; 
 font-weight: normal; 
 border: 1px solid #999999; 
 background: #dadada url(jquery/themes/base/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
}

.btn-spot {
	color: #FFFFFF;
	border: 1px solid #028575;
	background-color: #028575;		
	width: 90px;
}
.btn-spot:hover,
.btn-spot:focus,
.btn-spot:active,
.btn-spot.active,
.open > .dropdown-toggle.btn-spot {
 background-color: #00B29D;
 font-weight: normal; 
 color: #FFFFFF;
}

.btn-dark {
	color: #FFFFFF;
	border: 1px solid #028575;
	background-color: #028575;	
	width: 90px;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
 background-color: #00B29D;
 font-weight: normal; 
 color: #FFFFFF;
}
button.btn-dark:hover {  box-shadow: 2px 2px 2px gray; }
.btn-primary {
	color: #FFFFFF;
	border: 1px solid #028575;
	background-color: #028575;	
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primay:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #00B29D;
	font-weight: normal; 
	color: #FFFFFF;	
}
.btn-secondary {
	color: #FFFFFF;
	border: 1px solid #028575;
	background-color: #028575;	
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #00B29D;
	font-weight: normal; 
	color: #FFFFFF;	
}
.portal-area-layer { padding-bottom: 2px; }
.portal-table { background-color: ghostwhite; }
.portal-table thead tr { height: 30px; }
.portal-table th { 
	background-color: silver; 
	background-color: #AEA38F; 
	color: black; 
}
.protection-error { 
	margin: 10px; 
	min-height: 250px; 
	background-color: ghostwhite;
}
.protection-error-internal { 
	padding-top: 100px; 
	color:red; 
	font-weight: bold; 
	text-align: center; 
}

input.idecimal { text-align: right; }

a.pageselectedclass { background-color: #2F4F4F; text-decoration: underline;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #00B29D;
	border-color: #00B29D;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: white;
}

a.alink-sorter { color: white; cursor: pointer; }
a.alink-sorter label { cursor: pointer; }
a.alink-data { color: black; cursor: pointer; }

.fa-btn {
	background-color: transparent;
	width: 17px;
	height: 17px;
	border: 0px;
	outline: 0;
	margin-right: 10px;
	font-size: 1.2rem;
}
.fa-btn:hover {
	color: darkgray;
}
.row-height {
	margin-top: 2px;
	margin-bottom: 5px;
}

.fsx_combo_input{
	border-style: none;	
}
.fsx_combo_box{
	text-align: left;
	min-height: 22px;
	overflow: hidden;
    background-color: white;
	padding: 3px 1px 3px 2px;
}
.filter-layer { margin-right:3px; }
.entry-layer { 
	margin-top: 5px; margin-bottom: 5px;
}
.sub-entry-layer { margin-left: 0px; margin-right:3px; padding-top: 5px; }
.panel-body { padding-top: 1px; }
div.col-label { text-align: left; padding-top: 10px; }
@media (min-width: 1000px) {
	div.col-label {
		text-align: right;
	}
}
.pt-page-controller { width: 99%; }

/* record set - input dialog */
.recordset-detail-class { margin-left: 15px; }
.recordset-layer-class > div > table { width: 80%; }
.recordset-layer-class > div > table tr td:first-child { white-space: nowrap; }
.recordset-layer-class > div > table tr td { height: 40px; }
table.recordset-table-class { width: 80%;}
table.recordset-table-class tr td:first-child { white-space: nowrap; }
table.recordset-table-class tr td { height: 40px; }
.ul-table-listing > li:nth-child(2n+1) { background: ghostwhite; }
.ul-table-listing > li:nth-child(2n) { background: #f9f9f9; }

.mce-primary button {
	color: #FFFFFF;
	border: 1px solid #028575;
	background-color: #028575;		
}
.mce-primary button:hover,
.mce-primary button:focus,
.mce-primary button:active,
.mce-primary button.active,
.open > .dropdown-toggle.mce-primary {
	 background-color: #00B29D;
	 font-weight: normal; 
	 color: #FFFFFF;
}
.entry-dialog-layer { margin-left: 15px; margin-right: 5px;}

.ui-widget-overlay {
  opacity: 0.0;
  filter: Alpha(Opacity=0);
  background-color: white;
}
/*fixed disabled auto scroll on bootstrap modal dialog after second dialog hidden*/
.modal { overflow: auto !important; }

/* date picker style in case of read only but editable */
.iedit[editable] {
	background-color: #ffffff;
}			
.idate[editable] {
	background-color: #ffffff;
}			
.iinput[readonly] {
	background-color: #eeeeee;
}
.iedit[disabled] {
	background-color: #eeeeee;
}
table.partition-table { background-color: #028575; }

.panel-body {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
}

@media (min-width: 992px) {
	.modal-md {
		max-width: 800px;
	}
}
@media (min-width: 992px) {
  .modal-xm {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .modal-xml {
    max-width: 900px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1100px;
  }
}
@media (min-width: 1050px) {
  	.modal-xl, 
  	.modal-xlg {
    	max-width: 1350px;
  	}
}

.modal-backdrop.show {
	opacity: 0;
}
.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
	
/*start : bootstrap4 */
.program-control-layer {
	font-size: 8px;
}
#fsprogramcontrolbar {
	height: 40px; 
	padding-left: 0px;
}
.program-controlbar {
	height: 40px; 
	padding-left: 0px;
}

.dropdown-toggle:after {
    display: none;
}

.form-check label {
	padding-left: 10px;
	cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

a:hover { text-decoration: none; }

/* this is custom for jquery theme */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #fcefa1; background: #fbf9ee; }

.fa-hidden { display: none; }
.btn-cover-layer { margin-right: 10px; }
#fswaitlayer { display:none; position:absolute; left:1px; top:1px; z-Index:9999; font-size: 50px; color: #1E90FF; }
.btn-ctrl { margin-top: 10px; margin-right: 10px; min-width: 100px; }
.btn-ctrl-cover { padding-right: 30px; padding-bottom: 15px; }
.btn-span { padding-left: 5px; }
.img-lang { width: 30px; height: 15px; }
.img-lang-EN { content: url(../img/lang/EN.png); }
.img-lang-TH { content: url(../img/lang/TH.png); }
.input-group-lookup { border-radius: 0; }
.input-group-clear { border-radius: 0 .25rem .25rem 0; }
