body {
	background: #EEF0F8;
}
/* user color */
#fsprogramidlinker { color: white; text-decoration: none; }
.pt-page th a { color: white; }
.login_form button:focus,
.login_form button:hover{
	background: #5d77ff;
	color: white;
}
.login_form button {
	border-color: #5d77ff;
}
.login_form input[type="button"]{
	background-color: whitesmoke;
	border-color: #5d77ff;
}
.login_form input[type="button"]:focus,
.login_form input[type="button"]:hover{
	background: #5d77ff;
	color: white;
}
.login_form label {
	color: #5d77ff;
	font-weight : bold;
}
#login_logo_label {
	font-size: 3.3rem;
	font-weight: bold;
	color: #5d77ff;
	text-shadow: 3px 7px 7px white;
}
#page_login_toplayer {	
	background-image: -webkit-linear-gradient(white, #69b3ff);
	background-image: -o-linear-gradient(white, #69b3ff);
	background-image: -moz-linear-gradient(white, #69b3ff);
	background-image: linear-gradient(white, #69b3ff);
}
div.link-button-cover a:hover {
	background: #5d77ff;
	color: white;
}

.btn-primary {
	border: 1px solid #315989;
	background-color: #315989;
	min-width: 60px;
}
.btn-dark {
	border: 1px solid #5d77ff;
	background-color: #5d77ff;
    min-width: 60px;	
}
.btn-spot {
	border: 1px solid #315989;
	background-color: #315989;
    min-width: 60px;		
}
.btn-spot:hover,
.btn-spot:focus,
.btn-spot:active,
.btn-spot.active,
.open > .dropdown-toggle.btn-spot {
 background-color: #5385C1;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
 background-color: #5d77ff ;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primay:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #5385C1;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #5385C1;
	border-color: #5385C1;
}
.page-item.active .page-link {
	background-color: #3699FF;
    border-color: #3699FF;
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #ebedf3 !Important;
}
.table-bordered th, .table-bordered td {
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.portal-area { 
	background-color: #ffffff; 
}

table.partition-table { background-color: #dee2e6; }
.topic-row { background-color: #dee2e6; }

.pass-word { color:darkcyan; font-style: italic; }
.go-word { color:lightseagreen; font-style: italic; }

/* chating */
#fschatinglayer {
	position: fixed;
	right: 0;
	top: 0;
	width: 550px;
	height: 100%;
	background-color: #f0f0f0;
	margin-top: 60px;
	padding-bottom: 60px;
	display: none;
}
#chatingframe {
	width: 100%;
	height: 100%;
	border: none;
}
#chatmenuitemlink:hover {
	color: orange;
}

/* page_login.css */
.div-login-shape {
	background-image: linear-gradient(white, #F8F8FF);
}

.div-login-frame {
	width: 300px;
	height: 200px;
	border: 4px solid #315989;
	perspective: 300px;
	box-shadow: 0 0 20px 10px #5d77ff;
	border-radius: 5px;
	display: flex;
	align-content: center;
}

@keyframes shadows {
	0% {
		text-shadow: #315989 0 0 10px;
		box-shadow: 0px 0px 20px 10px #315989;
	}
	50% {
		text-shadow: #5385C1 0 0 10px;
		box-shadow: 0px 0px 20px 10px #5385C1;
	}
	75% {
		text-shadow: #5d77ff 0 0 10px;
		box-shadow: 0px 0px 20px 10px #5d77ff;
	}
	100% {
		text-shadow: #315989 0 0 10px;
		box-shadow: 0px 0px 20px 10px #315989;
	}
}	
.login-input-field input:focus ~ label , .login-input-field input:valid ~ label {
	background-color: #EEF0F8;
}

/* after login */
.favor-navbox-tiles .tile {
  background-color: #5385C1;
}
.favor-dropdown-menu { 
	background-color: #5385C1;
}
#favordropdownmenu {
	background-color: #5385C1;
}
.navbox-tiles .tile {
  background-color: #315989;
}
.sidebar li a.active { 
	background-color: #315989;
}
.sidebar ul li > a.active:hover {
	background-color: #315989;
}
.sidebar ul li .sub-menu li a:hover { 
	background-color: #5385C1;
}
#sidebarheader { 
	background-color: #315989;
}
#fsprogramcontrolbar {
	background-color: #5385C1; 
}
.program-controlbar { background-color: #5385C1; }

.navigatebar-top {
	background-color: #5385C1;
}
#footerbar { 
	background-color: #5385C1;
}
.sidebar-menu {
	background-color: #5385C1;
}
.pt-page h1 { color: black;  }
.pt-page th { background-color: #5385C1; }
.pt-page-header { 
	background-color: #5385C1; 
}
.pt-page-controller {
	background-color: #ffffff;
	background-clip: border-box;
	border: 1px solid #EBEDF3;
	border-radius: 0.42rem;
}
